<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression" verbose="1" >
    <test name="Session" >
        <classes>
            <class name="com.ilCarro.qa.tests.CreateAccountTests" />
            <class name="com.ilCarro.qa.tests.LoginTests" />
        </classes>
    </test>

    <test name="Car">
        <classes>
            <class name="com.ilCarro.qa.tests.AddCarTests"/>

        </classes>
    </test>
</suite>